head {
	display: none;
}

body {
	margin: 0;
}

/*Home Page Section*/
.home-page {
	padding: 1px;
	background: url(../images/background-mountain.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Helvetica Neue', sans-serif;
	display: block;
	height: 100%;
	border-bottom: 3px solid;
	border-bottom-color: #777;
}

h1.header-intro {
	font-family: 'Helvetica Neue';
	font-style: italic;
	font-size: 20px;
}

h1.header-name {
	font-family: 'Lobster', cursive;
	font-weight: 0;
	font-size: 65px;
	letter-spacing: 1px;
	margin: 0 auto;
}

p.mission-statement {
	padding-top: 60px;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

/*About Me Section*/
.about-me {
	display: block;
	padding: 1px;
	background: url(../images/about-me.jpg) center;
	font-family: 'Helvetica Neue', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	border-bottom: 3px solid;
	border-bottom-color: #777;
}

/*Home Box*/
.home-box {
	height: 100%;
	width: 580px;
	background: rgba(0,0,0,0);
	text-align: center;
	padding: 35px;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*Home Table*/
.home-table {
	padding-top: 60px;
	margin: 0 auto;
	border-spacing: 20px;
}

/*Icon Box*/
.icons {
	background: rgba(0,0,0,0);
	margin-top: 80px;
	margin-bottom: 0px;
}

/*profile box*/
.profile {
	height: 100%;
	width: 380px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	padding: 35px;
	color: white;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 50px;
}

.profileTitle {
	display: block;
	text-align: center;
	background: rgba(0,0,0,0);
	margin: 0 auto;
	color: white;
}

/*profile picture*/
.profile-pic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

/*Cropping*/
.cropped-pic {
	display: center;
    height: 100%;
    width: auto;
}

/*Sageewan Subendran*/
h1.profile-name {
	font-weight: 600;
	font-size: 32px;
	letter-spacing: 1px;
}

/*Paragraph Formatting*/
p{
	text-align: justify;
}

/*Font Awesome Icons*/
a.icons, a.arrow{ 						
	font-size: 40px;
	letter-spacing: 10px;
	color: white;
}

a.home-nav{
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0px;
	text-decoration: none;
	color: white;
}

/*Hover Nav buttons*/
a.home-nav:hover {
	color: #555;
}

/*Hover icons buttons*/
a.icons:hover {
	color: #999;
}

/*Hover arrow button*/
a.arrow:hover{
	color: #222;
}

/*Line in between paragraph personal specifications*/
.line-break {
	width: 370px;
	margin: 0 auto;
	border-top: 1px solid white;
}

/*E-Commerce Journey Section*/
.e-commerce {
	display: block;
	padding: 1px;
	background: url(../images/background-staircasespiral.jpg) center;
	font-family: 'Helvetica Neue', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	border-bottom: 3px solid;
	border-bottom-color: #777;
}

.e-commerceTitle {
	display: block;
	text-align: center;
	background: rgba(0,0,0,0);
	margin: 0 auto;
	color: white;
}

/*Stores Box*/
.stores {
	display: flex;				/*Flex displays divs side by side*/
	text-align: center;
	background: rgba(0,0,0,0);
	margin: 0 auto;
}

/*Abstract Fashion Box*/
.abstract-fashion {
	width: 380px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	padding: 35px;
	color: white;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 50px;
}

/*Zeal Apparel Box*/
.zeal-apparel {
	width: 380px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	padding: 35px;
	padding-bottom: 45px;
	color: white;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 50px;
}

ul.store-description {
	text-align: left;

}

ul.app-list {
	margin-left: 110px;
}

li {
	margin-bottom: 10px;
}

/*Store Title*/
h1.store-title {
	font-weight: 600;
	font-size: 32px;
	letter-spacing: 0.5px;
}

/*For mobile and smaller screens*/
@media screen and (max-width: 760px){
	.content h1 {
		.content h1 {
			font-size: 250%
		}
	}
}

